<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-grid.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-reboot.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/weather-icons-master/css/weather-icons.css}">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script th:src="@{/js/bootstrap.js}"></script>

    <title>Оформление заказа</title>

    <style>
        body {
            background-image: url('/img/logo.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
            height: 100vh;
        }

        .aslink {
            background-color: white;
            cursor: pointer;
            border: none;
            color: indianred;
        }

        .aslink:hover {
            border: none;
            color: darkred;
            text-decoration: underline;
            cursor: pointer;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row" style="padding-left: 5px; padding-right: 5px;">
        <div class="col-lg-6 col-md-8 col-sm-12 col-12 mt-2 p-3" style="background-color: whitesmoke; box-shadow: 0 5px 5px #333333">
            <div class="flex-row d-flex justify-content-between">
                <h3>Оформление заказа</h3>
                <a th:href="@{/service/card}">Назад к корзине</a>
            </div>
            <hr/>
            <form action="#" th:action="@{/service/confirm}" th:object="${dto}" method="post">
                <div class="form-group">
                    <label>Имя</label>
                    <input type="text" class="form-control" placeholder="Ваше имя" th:field="*{name}">
                    <div class="text-danger text-right" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Ошибка в имени</div>
                </div>
                <div class="form-group">
                    <label>Адрес электронной почты</label>
                    <input type="email" class="form-control" placeholder="Ваш email" th:field="*{email}">
                    <div class="text-danger text-right" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Ошибка в email</div>
                </div>
                <div class="form-group">
                    <label>Ваш заказ</label>
                    <table class="table table-sm">
                        <tbody>
                        <tr th:each="point : ${card.services}">
                            <td th:text="${point.title}"></td>
                            <td>
                                <span th:text="${point.price}"></span>
                                <span>&#8381;</span>
                            </td>
                        </tr>
                        <tr class="table-warning">
                            <td><b>Итог</b></td>
                            <td>
                                <span th:text="${card.sum}"></span>
                                <span>&#8381;</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <hr/>
                    <button type="submit" class="btn btn-success" style="width: 100%; border-radius: 0">Оформить</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>